<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Alpha Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/articles">Articles</a></li>
            <li><a class="dropdown-item" href="/users">Bloggers</a></li>
            <% if logged_in? %>
            <li><a class="dropdown-item" href="/articles/new">Create new article</a></li>
            <% end %>
          </ul>
        </li>
         <% if logged_in? %>
          
            
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile [<%= current_user.username %>]
          </a>
          <ul class="dropdown-menu">
            <li>
            <%= link_to 'View your profile', user_path(current_user), class: "dropdown-item" %>
            </li>
            <li>
            <%= link_to 'Edit your profile', edit_user_path(current_user), class: "dropdown-item" %>
            </li>
            <li>
            <%= button_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, onclick: "return confirm('Are you sure?')" %>
            </li>
         
          </ul>
        </li>
        <li class="nav-item">
        <%= button_to 'Logout', logout_path, method: :delete, class: "nav-link", id:  "logout-btn" %>
        </li>
     
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <% end %>
        
      
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>